body{
    margin: auto;
}

/*Background Image*/

.bckg-img{
    background-size:cover;
    background-position: top;
    background-repeat:no-repeat;
    min-height: 90vh;
    top: -30px;
}


/*A Man Standing*/


.body-search-box{
    background-color:#011d21;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.man-img {
    max-width: 100%; 
/* Makes the image fill the container width */
    height: inherit; /* Automatically adjusts the height to maintain the image's aspect ratio */
    display: block; 
    margin:auto;
    padding:auto;/* Ensures proper spacing and alignment */
}

.search-man-box{
    border: 2px solid green;
    width: 30%;
    height: 550px;
    display: flex;
    align-items: center;
}
.result-box{
    border: 2px solid black;
    width: 59%;

}