@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body{
    margin: auto;
}



/*Navbar and navbar Links*/

.navbar:hover,.navbar.hover{
  visibility: visible !important;
}

.navbar-link {
  text-decoration: none;
  color: rgba(81,84,115,1);
}

.navbar-link:hover,
.navbar-link.hover {
  color: #d6cccc !important;
  border-bottom: 3px ridge rgb(27, 102, 215) !important;
  box-shadow: #e7ecef !important;
}

.navbar-link:active,.navbar-link.active {
  color: white;
  font-weight: bold;
  border-bottom: 2mm ridge rgb(27, 102, 215);
  box-shadow: #31739f;
}

/*Login and SignUp Button*/
.log-sign-btn:hover{
  border: 1px solid rgb(27, 102, 215)!important;
   color: #ffff !important; 
}

/*Start BTN*/
.start-btn:hover{
  border: 1px solid rgb(27, 102, 215) !important;
  color: white;
}

/*Transition effect for Navigation to Home Page*/
.fade-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 500ms ease, transform 1000ms ease;
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 500ms ease, transform 1000ms ease;
  }






/*Background Image*/

.bckg-img{
    background-size:cover;
    background-position: top;
    background-repeat:no-repeat;
    min-height: 80vh;
    border-bottom-left-radius: 0%;
    
}
.background-box{
  margin:auto;
  text-align: center;
  
}


/*Txt Description About Virtual Human Body*/

/* .GymModel { */
  /* background:  linear-gradient(320deg, #010B1B 3%, #102661 9.9%,#010B1B 67.1%, #3B1A3C 85%); */
  /* background: linear-gradient(to top, #0e0c0d, #150b12, #180b18, #180c1f, #140e27, #11122e, #0b1536, #00183e, #001c48, #012051, #03255b, #062965); */
/*}*/


.statement-container {
  color: #ffffff;
  /* background:linear-gradient(to bottom, #0e0c0d, #150b12, #180b18, #180c1f, #140e27, #11122e, #0b1536, #00183e, #001c48, #012051, #03255b, #062965); */
  background: linear-gradient(to bottom, #030d1f, #030d1f, #0c0c29, #0d1121, #140e27, #11122e, #0b1536, #00183e, #001c48, #012051, #03255b, #062965);
  
  padding: 90px 160px;
  
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  text-align: center;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
}

/* .statement-heading {
  font-size: 44px;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
} */

.statement-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}






/*A Man Standing*/


.body-search-box{
    /* background: linear-gradient( 328deg, rgb(45 46 48) 10.9%, rgb(71, 73, 98) 87.1% ); */
    /* box-shadow: rgba(17, 17, 26, 1) 0px 8px 24px, rgba(17, 17, 26, 0.5) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; */
    /* padding-right: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}
.image-container{
  height: inherit;
  /* background: linear-gradient(14deg,#001d56 10.9%,#515473 87.1%); */
  /* background: radial-gradient(circle closest-side at 50% 90%, #747788, transparent); */
}


.man-img {
    max-width: 110%; 
    height: inherit;
    margin:auto;
    padding:auto;
}

.search-man-box{
    padding: 0px;
    width: 250px;
    height: 500px;
    display: flex;
    align-items: center;
}
.result-box{
    font-family: 'Rajdhani', sans-serif;
    /* padding: 20px; */
    /* font-size: 30px; */
    /* color: #33383b; */
    /* display: flex; */
    /*align-items: center; */
    /* border-radius: 0px; */
    /* text-align:center; */
    /* box-shadow: rgba(17, 17, 26, 0.5) 0px 8px 24px, rgba(17, 17, 26, 0.5) 0px 16px 56px, rgba(17, 17, 26, 0.5) 0px 24px 80px; */
    /* background: linear-gradient(to right, black, #222222);   */
    /* /* background: -webkit-linear-gradient(to top, #FFEEEE, #FFEEEE); */
    /* background: linear-gradient(to top, #FFEEEE, #FFEEEE); */
}

.result-box.active{
  text-align: left;
}

.exercises-details-container{
  padding-right: 500px;
}
.css-47suzj-MuiTypography-root{
  font-family: 'Rajdhani', sans-serif !important;/*Heading of every exercise*/
}










.SearchExerciseBox{
  background:  linear-gradient(0deg, #010B1B 10.9%,#102661 97.1%);
  margin-top: 0px !important;
}
.search-exercise-input{
  border-radius: 45px !important;
  box-shadow: 0 0 5px #205295 !important;
}

/*The above class is for search bar in Awesome Exercise page*/






/*Footer*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
@import "~@fortawesome/fontawesome-free/css/all.min.css";


.footer-distributed{
	background: #2e2d2d;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 13px sans-serif;
	padding: 35px 50px;
  font-family: Open Sans;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #000000;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}













/*About Page*/

.about-nav{
  background:url(../src/assets/about_bckg.jpg) !important;
  background-size: cover !important;
}

.about-container-main{
  position: relative;
  top: 0px;
  z-index: -1;
}

.about-container-main::before {
  background: rgb(142, 142, 54);
}
.about-bckg-img{
  background-image: url(../src/assets/about_bckg.jpg);
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: end;
  padding: 0;
  position: relative;
}

.about-border{
  border-top: 40vh solid transparent;
  border-right: 98vw solid #030d1f;
}
.about-body{
  background: linear-gradient(to bottom, #030d1f, #030d1f, #0c0c29, #0d1121, #140e27, #11122e, #0b1536, #00183e, #001c48, #012051, #03255b, #062965);
}
/* body{
  background-color: #0b3a87;
} */

/*Contact Page*/
.contact-container-main{
  /* background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% ); */
  /* background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% ); */
  background: linear-gradient(0deg, #010B1B 10.9%,#102661 97.1%);
  color: #007bff;
}


.contact-container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  
}

.contact-left {
  flex-basis: 50%;
}

/* .contact-right {
  flex-basis: 50%;
} */

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 16px;
}

label {
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
}

input,
textarea {
  padding: 8px;
  font-size: 16px;
  /* border-radius: 4px; */
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.07);
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 16px;
  border:none;
  
}

textarea {
  resize: vertical;
}

.btn-container{
  text-align: right;
}

button {
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 0 5px #205295;
  background-color: transparent;
  color:#007bff;
  border: none;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  /* font-smooth: antialiased; */
  padding: .75rem 1rem;
  font-size: 16px;
  line-height: 16px;
  background-image: none;
  cursor: pointer;
  width: 9rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  }

button:hover {
  background-color: #dcedff;
  border: none;
}